.StepInstruction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 260px;
    margin-top: 160px;
}

.Title {
    font-size: 28px;
    font-weight: 900;
    color: var(--green);
    line-height: 44px;
}

.Title span{
    color: var(--yellow) !important;
}

.Text {
    width: 380px;
    text-align: left;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    height: 150px;
    color: var(--gray);
}

/* @media screen and (max-width: 1080px) {
    .StepInstruction {
        gap: 10px;
    }
} */

@media screen and (max-width: 850px) {
    .StepInstruction {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        height: 260px;
        margin-top: 200px;
    }

    .Description {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .Title {
        font-size: 24px;
        font-weight: 900;
        color: var(--green);
        line-height: 30px;
        text-align: center;
    }

    .Text {
        width: 270px;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
    }
}