.Hero {
    background-color: var(--white-dark);
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.HowText {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-gray);
    line-height: 18px;
    margin-top: 100px;
}

.SearchText {
    font-size: 48px;
    color: var(--green);
    font-weight: 900;
    text-align: center;
    max-width: 675px;
    height: 118px;
    line-height: 59px;
}

.ButtonStart {
    width: 280px;
    height: 60px;
    border: 3px solid var(--yellow);
    border-radius: 30px;
    background-color: var(--yellow);
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    color: var(--green);
    cursor: pointer;
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .Hero {
        background-color: var(--white-dark);
        height: 370px;
        gap: 30px;
    }

    .HowText {
        font-size: 18px;
        font-weight: 700;
        color: var(--text-gray);
        line-height: 18px;
        margin-top: 50px;
    }

    .SearchText {
        font-size: 24px;
        color: var(--green);
        font-weight: 900;
        text-align: center;
        max-width: 250px;
        height: 118px;
        line-height: 29px;
    }

    .ButtonStart {
        width: 264px;
    }
}