.Header {
    background-color: var(--white);
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 41.5px;
    padding-left: 41.5px;
    font-size: 18px !important;
}

.ButtonMenu, .ButtonLogin {
    color: var(--green);
    width: 140px;
    height: 40px;
    border: 3px solid var(--green);
    border-radius: 40px;
    background-color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.ButtonLogin {
    background-color: var(--green);
    color: var(--white);
}

.imgLogo {
    margin-top: 150px;
}

.imgLogoMobile {
    margin-top: 150px;
}

@media screen and (max-width: 600px) {
    .Header {
        padding-right: 20px;
        padding-left: 20px;
        background-color: var(--white-dark);
        height: 120px;
    }

    .ButtonLogin, .ButtonMenu {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-top: 36px;
    }

    .ButtonMenu text {
        display: none;
    }
    
    .ButtonLogin text {
        display: none;
    }

    .imgLogoMobile {
        margin-top: 100px;
    }
}